<div data-controller="page-modal" class="bg-black text-white min-h-screen">
  <%= render "landing/header" %>
  <main>
    <%= render "landing/hero" %>
    <%= render "landing/team" %>
    <%= render "landing/process" %>
    <%= render "landing/cta_mid" %>
    <%= render "landing/testimonials" %>
    <%= render "landing/jobs" %>
    <%= render "landing/candidates" %>
    <%= render "landing/faq" %>
    <%= render "landing/cta_final" %>
  </main>
  <%= render "landing/footer" %>

  <%= render "landing/form_post_need" %>
  <%= render "landing/form_join_community" %>
</div>
